#
# test-text-Config.ron
#

# We use tabs in this file to test correct escaping and handling of tabs

{
	modules=[
		"foo", "bar", "baz", "qux",
		"quux", "corge", "grault", "garply",
		"waldo", "fred", "plugh", "xyzzy",
		"thud"
	],
	pörts={80="http", 443="https"} # Typo: 'pörts', not 'ports'; ASCII 1: 
}

# EOF
